<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Kakao Route Search</title>-->
<!--    <link rel="stylesheet" href="/css.css">-->
<!--</head>-->
<!--<body>-->

<!--<h1>Kakao Route Search</h1>-->

<!--<div id="map" style="width:1300px;height:900px;"></div> &lt;!&ndash; 지도가 표시될 영역 &ndash;&gt;-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8718b48048bf8ca4325b869cb07bb294"></script> &lt;!&ndash; 카카오 지도 API &ndash;&gt;-->
<!--<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8718b48048bf8ca4325b869cb07bb294&libraries=services,clusterer,drawing"></script>-->


<!--<form id="search-form">-->
<!--    <label for="originAddress">출발지:</label><br>-->
<!--    <input type="text" id="originAddress" name="originAddress"><button type='button' id='search-origin'>주소 검색</button><br>-->

<!--    <label for="destinationAddress">도착지:</label><br>-->
<!--    <input type="text" id="destinationAddress" name="destinationAddress"><button type='button' id='search-destination'>주소 검색</button><br>-->

<!--    <button type='submit'>길 찾기</button>-->
<!--</form>-->


<!--<script src="/js.js"></script> &lt;!&ndash; 여기에 실제 자바스크립트 파일 경로를 입력하세요 &ndash;&gt;-->
<!--<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> &lt;!&ndash; 카카오 우편번호 서비스 &ndash;&gt;-->

<!--</body>-->
<!--</html>-->
